<div class="grid grid-cols-4 gap-4">
    {% for room in rooms %}
        <div class="p-4 rounded-xl 
            {% if room.status == 'waiting' %}bg-emerald-100
            {% elif room.status == 'activate' %}bg-yellow-100
            {% else %}bg-gray-100{% endif %}">
           
            <h3 class="mb-4 text-lg">Chat</h3>

            <p>
                <b>ID: </b>{{ room.uuid }}<br>
                <b>Name: </b>{{ room.client }}<br>
                <b>Status: </b>{{ room.get_status_display }}<br>
                <b>Agent: </b>{% firstof room.agent.name 'None yet...' %}<br>
            </p>

            <a href="{% url 'chat:room' room.uuid %}" class="text-green-600 hover:text-green-800 underline">Join</a>

            <a href="{% url 'chat:delete_room' room.uuid %}">Delete Room</a>

        </div>
    {% endfor %}
</div>